In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Salary_Data.csv")

In [4]:
type(dataset)

pandas.core.frame.DataFrame

In [10]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [11]:
dataset.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
dataset.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

# Convert dataset into x & y

In [21]:
X = dataset.iloc[:, 0:1].values
y = dataset.iloc[:, 1].values

In [22]:
X

array([[  1.1],
       [  1.3],
       [  1.5],
       [  2. ],
       [  2.2],
       [  2.9],
       [  3. ],
       [  3.2],
       [  3.2],
       [  3.7],
       [  3.9],
       [  4. ],
       [  4. ],
       [  4.1],
       [  4.5],
       [  4.9],
       [  5.1],
       [  5.3],
       [  5.9],
       [  6. ],
       [  6.8],
       [  7.1],
       [  7.9],
       [  8.2],
       [  8.7],
       [  9. ],
       [  9.5],
       [  9.6],
       [ 10.3],
       [ 10.5]])

In [23]:
y

array([  39343.,   46205.,   37731.,   43525.,   39891.,   56642.,
         60150.,   54445.,   64445.,   57189.,   63218.,   55794.,
         56957.,   57081.,   61111.,   67938.,   66029.,   83088.,
         81363.,   93940.,   91738.,   98273.,  101302.,  113812.,
        109431.,  105582.,  116969.,  112635.,  122391.,  121872.])

# Split dataset into training and testing

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 0)

# Linear Regression

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
linear_regression = LinearRegression()

In [44]:
linear_regression.fit(X_train, y_train)

/Users/swapnilpote/.virtualenvs/py3/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
linear_regression.coef_

array([ 9371.31311726])

In [46]:
linear_regression.intercept_

26098.018402613416

In [49]:
X_test[0] * 9371.31311726 + 26098.018402613416

array([ 116062.62432831])

In [51]:
y_pred = linear_regression.predict(X_test)

In [52]:
y_test, y_pred

(array([ 112635.,   67938.,  113812.]),
 array([ 116062.62432831,   72017.45267719,  102942.78596415]))

In [50]:
from sklearn.metrics import mean_squared_error

In [53]:
mean_squared_error(y_test, y_pred)

48843452.146216869

# SGD Regressor

In [54]:
from sklearn.linear_model import SGDRegressor

In [82]:
sgd_r = SGDRegressor(max_iter=100)

In [83]:
sgd_r.fit(X_train, y_train)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=100, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False)

In [84]:
sgd_r.coef_

array([ 10542.2475321])

In [85]:
sgd_r.intercept_

array([ 18334.2420011])

In [86]:
X_test[0] * 12820.34785075 + 4809.93336907

array([ 127885.27273627])

In [87]:
y_pred_sgd = sgd_r.predict(X_test)

In [88]:
y_pred_sgd, y_test

(array([ 119539.81830924,   69991.25490838,  104780.6717643 ]),
 array([ 112635.,   67938.,  113812.]))

In [89]:
from sklearn.metrics import mean_squared_error

In [90]:
mean_squared_error(y_test, y_pred_sgd)

44485753.767767228